/*=====================================*/
/* CSS dntrevisan 2014	   		       */
/* Estrutura Desktop Responsivo		   */
/* Versão 1.0   			           */
/*=====================================*/

@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: Oxygen;
    src: url(../fonts/Oxygen/Oxygen-Regular.ttf);
}
@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo/Arimo-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: Oxygen, Arimo, Arial, Tahoma, Sans-serif;
	background-color: #fefefa;
}

h1, h2{
	color: #1A3C5C;
	font-family: Comfortaa, Arimo, Arial, Tahoma, Sans-serif;
}
h2 {
  margin: 20px;
}
h2 a{
	color: #1A3C5C;
	font-family: Comfortaa, Arimo, Arial, Tahoma, Sans-serif;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.title-1 {
	font-weight: 700;
	font-size: 2.5rem; /* contexto / 16px = rem */
	text-align: center;
	margin-bottom: 10px;
}

.title-1 + p {
	margin: 0 auto 20px;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-weight: 300;
	font-size: 1.13rem;
}

section {
	padding: 100px 0;
}

section:after,
section:before {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
}

/***
**** header
***/
.header {
	position: fixed;
	top: 20px;
	width: 100%;
	text-align: center;
	background-color: rgba(1, 39, 75, 0.90);
	box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.4);
	padding: 30px 0;
}

.logo {
	font-weight: 300;
	color: #fff;
	width: 25%;
	position: absolute;
    top: 17px;
}
.logo a{
    background: url("../images/themes/logo-dntrevisan.png") no-repeat scroll center center / contain rgba(0, 0, 0, 0);
    display: block;
    overflow: hidden;
    text-align: center;
    text-indent: -9999px;   
}

.header nav {
	margin: auto;
    text-align: center;
    width: 50%;
}
.header li {display: inline-block;}
.header nav a {
	display: inline-block;
	padding: 0 20px;
	color: #fff;
	font-family: Arimo, Oxygen, Arial, Tahoma, Sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 300;
	font-size: .88rem;
	letter-spacing: 3px;
}

.header .social-links {
    position: absolute;
    right: 0;
    top: 25px;
    width: 25%;
}

.header .social-links li {
    display: inline;
    list-style: none outside none;
}
.header .social-links li a {
    background: url("../images/themes/social-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    opacity: 0.7;
    overflow: hidden;
    text-indent: -9999px;
    width: 25px;
}

.header .social-links li a:hover {
    opacity: 1;
}
.header .social-links a.ico-linkedin, .social-links li:nth-child(1) a {
    background-position: -210px top;
}
.header .social-links a.ico-github, .social-links li:nth-child(2) a {
    background-position: -170px top;
}
.header .social-links a.ico-google, .social-links li:nth-child(3) a {
    background-position: 0 top;
}
.header .social-links a.ico-facebook, .social-links li:nth-child(4) a {
    background-position: -90px top;
}
.header .social-links a.ico-twitter, .social-links li:nth-child(5) a {
    background-position: -50px top;
}
.header .social-links a.ico-rss, .social-links li:nth-child(6) a {
    background-position: -127px top;
}


/***
**** perfil
***/
.perfil{
	margin-top: 50px;
}
article{
	width: 100%;
	float: left;
}
article strong{
	color: #1A3C5C;
	font-weight: 800;
}

aside{
	float: right;
	font-size: 14px;
    margin-left: 10px;
    margin-top: 185px;
    width: 33%;
}

aside ul{
	margin:10px 0; 
}


/***
**** press
***/
.press {
	padding: 130px 0 150px;
}

.press .text {
	width: 100%;
	float: left;
	text-align: left;
}

.press .text ul {
  padding-left: 30px;
}

.press img {
	float: right;
	width: 500px;
	margin-left: 40px;
}

.press h1 {
	font-family: Comfortaa, Arimo;
	color: #1A3C5C;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 2.5rem;
}

.press p {
	font-family: Arimo, Oxygen;
	font-weight: 300;
	font-size: 1.25rem;
	line-height: 1.5;
}


/***
**** contato
***/

.contato {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	padding: 20px;
	margin-bottom: 50px;
}


.contato h2 {
	font-size: 18px;
}

.contato p,
.more-info p {
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5;
	margin: 10px auto 25px;
}

.contato .social-links {
    width: 25%;
}

.contato .social-links li {
    display: inline;
    list-style: none outside none;
}
.contato .social-links li a {
    background: url("../images/themes/social-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    opacity: 0.9;
    overflow: hidden;
    text-indent: -9999px;
    width: 25px;
}

.contato .social-links li a:hover {
    opacity: 1;
}
.contato .social-links a.ico-linkedin {
    background-position: -210px bottom;
}
.contato .social-links a.ico-github {
    background-position: -170px bottom;
}
.contato .social-links a.ico-google {
    background-position: 0 bottom;
}
.contato .social-links a.ico-facebook {
    background-position: -90px bottom;
}
.contato .social-links a.ico-twitter{
    background-position: -50px bottom;
}
.contato .social-links a.ico-instagram {
    background-position: -242px bottom;
}

/***
**** lista diretoriofest
***/
.prettyprint {
    overflow: auto;
}

pre {
    background-color: #ffffff;
    border: 2px solid #e7e9ec;
    border-radius: 6px;
    color: inherit;
    font-size: 13px;
    line-height: 1.72222;
    margin: 0 0 15px;
    padding: 8px;
    white-space: pre;
    width: 600px;
}

/***
**** footer
***/
.footer {
	/*border-top: 1px solid rgba(0, 0, 0, 0.2);*/
	background-color: #22242B;
	color: #e4e4e4;
    font-size: 1em;
    margin: 0;
    padding: 1.618em 25px;
    clear: both;
}

.footer p {
    color: #e4e4e4;
    font-size: 12px;
}
.footer a, .footer a:hover{
	color: #3084C7;
}
.pull-left{
	float: left;
	 margin-left: 50px;
}
.pull-right{
	float: right;
	margin-right: 50px;
}